.home-section {
  background-color: #590004;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 4.5rem; */
  padding: 2rem;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.heading-container {
  flex: 1;
  text-align: left;
  margin: 0;
  /* border: 1px solid white; */
  padding: 2rem;
}

.home-heading {
  margin-bottom: 2rem;
}

.passion-h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fb8500;
  margin-bottom: 0;
}

.discover-p {
  font-size: 1.5rem;
  font-weight: 700;
  color: aliceblue;
  margin-bottom: 1rem;
}

.welcome-p {
  color: aliceblue;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.home-buttons {
  display: flex;
  gap: 1rem;
}

.order-button,
.book-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-button {
  background-color: #fb8500;
  color: black;
}

.book-button {
  background: #590004;
  border: 1px solid whitesmoke;
  color: aliceblue;
}

.order-button:hover,
.book-button:hover {
  opacity: 0.9;
}

.home-logo-image {
  width: 40%;
  height: auto;
  object-fit: contain;
}

/* Responsive design */
@media (max-width: 768px) {
  .home-section {
    flex-direction: column-reverse;
    text-align: center;
    padding: 1rem;
  }

  .heading-container {
    padding: 1rem;
    border: none;
  }

  .home-buttons {
    justify-content: center;
  }

  .home-logo-image {
    margin-top: 2rem;
    width: 75%;
    height: auto;
  }

  .passion-h1 {
    font-size: 2rem;
  }

  .discover-p {
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) {
  .home-section {
    padding: 2rem 5vw;
  }
}
